<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/index1.png" class="mx-auto d-block" style="opacity: 0.6;">
      <div class="carousel-caption d-none d-md-block center-block" style="color: black">
        <h5>Nunca olvides qué comprar</h5>
        <p>Crea listas en segundos y compra lo que realmente necesitas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/index2.png" class="mx-auto d-block" style="opacity: 0.6;" >
      <div class="carousel-caption d-none d-md-block" style="color: black;">
        <h5>Evita las compras impulsivas</h5>
        <p>Planifica y sigue tu lista de compras para ahorrar dinero</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/index3.png" class="mx-auto d-block" style="opacity: 0.6;">
      <div class="carousel-caption d-none d-md-block" style="color: black;">
        <h5>Una lista para todo</h5>
        <p>Comparte tus listas, maneja los cambios y ahorrate llamadas innecesarias</p>
      </div>
    </div>
  </div>
  <div class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev" style="color: black;">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
  </div>
  <div class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </div>
</div>