{{!archivo p ver como se va a ver la vista}}

<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Iniciar Sesión</h3>
        </div>
        <img src="/img/logo.png" alt="Logo página" class="imgsignin">
        <div class="card-body">
            <form action="/signin" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Continuar
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

